<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel='stylesheet' href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom_style.css" |  relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class='navbar navbar-fixed-top'>
    <nav class='navbar-inner header'>
     <div class='container'>
       <ul class='nav pull-right'>
        <li><a class='nav-link' href='./'>About</a></li>
        <li><a class='nav-link' href='./docs'>Docs</a></li>
        <li><a class='nav-link' href='./team'>Team</a></li>
        <li><a class='nav-link' href='./contact'>Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="wrapper">
  <header>
    {% if site.logo %}
    <img src="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    <p>{{ site.description | default: site.github.project_tagline }}</p>

    {% if site.github.is_user_page %}
    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
    {% endif %}

    {% if site.show_downloads %}
    <ul class="downloads">
      <li><a href="{{ site.release_url }}">Download <strong>EXE File</strong></a></li>
      <li><a href="./docs">View <strong>Docs</strong></a></li>
      <li><a href="{{ site.company_url }}">View On <strong>GitHub</strong></a></li>
    </ul>
    {% endif %}

    <div id="mc_embed_signup">
      <form action="https://thefocuscompany.us19.list-manage.com/subscribe/post?u=8909565faac2df0c45a02035e&amp;id=7e02319d04" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate wj-contact" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL"><b>Subscribe to our mailing list</b></label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8909565faac2df0c45a02035e_7e02319d04" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </header>
  <section class="content">

    {{ content }}

    <form class="wj-contact" action="https://formspree.io/{{site.email_contact}}" method="POST">
      <input type="email" name="email" placeholder="Email Address">
      <textarea type="text" name="content" rows="10" placeholder="Message"></textarea>
      <input type="hidden" name="_next" value="./thefocuscompany.me/thanks.html">
      <input type="hidden" name="_subject" value="New Contact Form Submission">
      <input type="text" name="_gotcha" style="display:none">
      <input type="submit" value="Submit">
    </form>

  </section>
  <footer>
    {% if site.github.is_project_page %}
    <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
  </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
